<a href="https://colab.research.google.com/github/askchris/hello-world/blob/main/hellp-world.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# âœ¨Introduction
I took a career break in Jan 2024 and have just crossed the 7-month mark. After learning the fundamentals in data science, I want to analyse my personal finances to understand how my career break has impacted how I spend money using my own personal finance dataset dated form Jan 2023 to Jul 2024.

ðŸŽ¯**Objective:**\
To have a better understanding of how my expenses have changed after taking a career break and derive ideas about how my lifestyle expenses would look like after I retire.

ðŸ“Œ**Goals:**
1.
2.
3.

##Initial Notebook Setup

In [1]:
# clone github repository
!git clone https://github.com/askchris/hello-world.git

Cloning into 'hello-world'...
remote: Enumerating objects: 54, done.
remote: Counting objects: 100% (54/54), done.
remote: Compressing objects: 100% (46/46), done.
remote: Total 54 (delta 6), reused 0 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (54/54), 55.85 KiB | 408.00 KiB/s, done.
Resolving deltas: 100% (6/6), done.

In [2]:
# load libraries
import pandas as pd
import numpy as np

##Load, Check and Clean Dataset
Load the CSV file that contains the transactional data that I have compiled from banking records and an expense tracker app that I use to record cash expenses.

In [3]:
# load CSV file containing personal finance data from Jan 2023 to Jul 2024
finance_filepath = "/content/hello-world/datasets/Personal Finance - Raw Data.csv"
finance_data = pd.read_csv(finance_filepath)

# duplicate finance_data so that we do not overwrite the original dataset.
cleaned_finance_data = finance_data

# view first 5 records of the dataset
finance_data.head()

,Application Date,Wallet,Type,Category name,Amount,Currency,Note,Labels,Author
0,2023-01-01,NaN,NaN,Bills & Subscriptions,11.73,NaN,Property Tax,NaN,NaN
1,2023-01-01,NaN,NaN,Bills & Subscriptions,38.63,NaN,Utilities,NaN,NaN
2,2023-01-01,NaN,NaN,Entertainment,50,NaN,Entertainment,NaN,NaN
3,2023-01-01,NaN,NaN,Groceries,61.86,NaN,Groceries,NaN,NaN
4,2023-01-01,NaN,NaN,Gifts and Ocassions,72,NaN,Chinese New Year,NaN,NaN

In [4]:
print("There are " + str(len(finance_data)) + " records in the dataset")

There are 2148 records in the dataset

Examine the dataset to identify any data issues.

In [5]:
# get the number of missing data points per column
missing_values_count = finance_data.isnull().sum()

# look at the # of missing points in the 9 columns
missing_values_count[0:9]

Application Date       0
Wallet              1554
Type                1554
Category name          0
Amount                 0
Currency            1551
Note                   2
Labels              2148
Author              1577
dtype: int64

###Removing unusable columns and populating columns with some missing values
As there are more than 50% null values in some columns, we will not be using these records in our analysis:
- Wallet
- Type
- Currency
- Labels
- Author

In [6]:
# Drop columns (Wallet, Type, Currency, Labels and Author) from cleaned_finance_data
cleaned_finance_data = cleaned_finance_data.drop(columns=['Wallet', 'Type', 'Currency', 'Labels', 'Author'])

cleaned_finance_data.head()

  Application Date          Category name Amount              Note
0       2023-01-01  Bills & Subscriptions  11.73      Property Tax
1       2023-01-01  Bills & Subscriptions  38.63         Utilities
2       2023-01-01          Entertainment     50     Entertainment
3       2023-01-01              Groceries  61.86         Groceries
4       2023-01-01    Gifts and Ocassions     72  Chinese New Year

Since the Note column only has 2 records with null values, we will replace the null values with "N/A".

In [7]:
# Replace null values in Note column with "N/A" in cleaned_finance_data
cleaned_finance_data[['Note']] = cleaned_finance_data[['Note']].fillna(value="N/A")

# Double check if there are any more missing data points per column
missing_values_count = cleaned_finance_data.isnull().sum()

# look at the # of missing points in the 4 columns
missing_values_count[0:4]

Application Date    0
Category name       0
Amount              0
Note                0
dtype: int64

###Checking the Application Date Column
As the dataset contains records from different data sources (banking records and expense tracker app), I want to be prudent and check if the date values in the Application Date column are consistent.

In [8]:
# print the first few rows
cleaned_finance_data['Application Date'].head()

0     2023-01-01
1     2023-01-01
2     2023-01-01
3     2023-01-01
4     2023-01-01
Name: Application Date, dtype: object

While the first 5 records are dates, the data type of this column is "object". This data type is used for storing various types of data types and this implies that not all the values in these column are recognised as dates.

Let's do a further investigation.

In [9]:
# check the length of the values in the Application Date column.
date_lengths = cleaned_finance_data['Application Date'].str.len()
date_lengths.value_counts()

Application Date
11    843
25    594
7     433
6     277
8       1
Name: count, dtype: int64

In [10]:
# examine first 5 records with 6 characters in Application Date column.
indices = np.where([date_lengths == 6])[1]
cleaned_finance_data.loc[indices]["Application Date"].head()

1090    1/1/24
1091    1/1/24
1094    2/1/24
1096    3/1/24
1097    3/1/24
Name: Application Date, dtype: object

In [11]:
# examine first 5 records with 7 characters in Application Date column.
indices = np.where([date_lengths == 7])[1]
cleaned_finance_data.loc[indices]["Application Date"].head()

1125    10/1/24
1126    10/1/24
1127    10/1/24
1130    11/1/24
1132    12/1/24
Name: Application Date, dtype: object

In [12]:
# examine first 5 records with 8 characters in Application Date column.
indices = np.where([date_lengths == 8])[1]
cleaned_finance_data.loc[indices].head()

,Application Date,Category name,Amount,Note
1088,31/12/23,Bills & Subscriptions,35.23,MYSINGTELAPP STBILL SINGAPORE SG

In [13]:
# examine first 5 records with 11 characters in Application Date column.
indices = np.where([date_lengths == 11])[1]
cleaned_finance_data.loc[indices]["Application Date"].head()

0     2023-01-01
1     2023-01-01
2     2023-01-01
3     2023-01-01
4     2023-01-01
Name: Application Date, dtype: object

In [14]:
# examine first 5 records with 2 5can characters in Application Date column.
indices = np.where([date_lengths == 25])[1]
cleaned_finance_data.loc[indices]["Application Date"].head()

170    2023-08-02T00:44:23+00:00
171    2023-08-02T23:44:54+00:00
172    2023-08-02T23:45:14+00:00
174    2023-08-02T04:17:32+00:00
175    2023-08-02T00:43:53+00:00
Name: Application Date, dtype: object

From the above, we can see that we have 3 different date formats.
1. DD/MM/YY
2. YYYY-MM-DD
3. YYYY-MM-DDTHH:MM:SS+00:00

Note: It's strange that YYYY-MM-DD is shown to have 11 characters. Therefore there must be a leading/trailing whitespace that needs to be stripped.

We will convert all the date formats to YYYY-MM-DD for consistency.

In [15]:
# strip whitespaces of values in Application Date column and store in Tmp Date
cleaned_finance_data['Tmp Date'] = cleaned_finance_data['Application Date'].str.strip()

# Clean records with less than 10 characters in Tmp Date column.
indices = np.where([date_lengths < 10])[1]
cleaned_finance_data.loc[indices, 'Date Cleaned'] = pd.to_datetime(cleaned_finance_data.loc[indices, 'Tmp Date'], format="%d/%m/%y")

# Clean records with 10 characters in Tmp Date column.
indices = np.where([date_lengths == 10])[1]
cleaned_finance_data.loc[indices, 'Date Cleaned'] = pd.to_datetime(cleaned_finance_data.loc[indices, 'Tmp Date'])

# Clean records with 25 characters in Tmp Date column.
indices = np.where([date_lengths == 25])[1]
cleaned_finance_data.loc[indices, 'Date Cleaned'] = pd.to_datetime(cleaned_finance_data.loc[indices, 'Tmp Date'].str[:10])

# Convert all records to Datetime data type.
cleaned_finance_data['Date Cleaned'] = pd.to_datetime(cleaned_finance_data['Date Cleaned'])

# print the first few rows
cleaned_finance_data['Date Cleaned'].head()

0   NaT
1   NaT
2   NaT
3   NaT
4   NaT
Name: Date Cleaned, dtype: datetime64[ns]

###Checking the Amount Column
In the Amount column, we can also see that there are some records with 2 decimal places(float) and some records with whole numbers. When exploring further, we also found that some records have commas (e.g. 1,000).

We will convert all the values to float for consistency.

In [16]:
# convert the Amount column from string to float
cleaned_finance_data['Tmp Amount'] = cleaned_finance_data['Amount']
cleaned_finance_data['Tmp Amount'] = [float(str(i).replace(",", "")) for i in cleaned_finance_data['Tmp Amount']]
cleaned_finance_data['Amount Cleaned'] = cleaned_finance_data['Tmp Amount'].astype(float)
cleaned_finance_data['Amount Cleaned'].head()

0    11.73
1    38.63
2    50.00
3    61.86
4    72.00
Name: Amount Cleaned, dtype: float64

###Checking the Category name Column
In the Category name column, we let's see if there are any discrepancies or dirty data that needs to be cleaned.

In [18]:
# get all the unique values in the 'Category name' column
category_names = cleaned_finance_data['Category name'].unique()

# sort them alphabetically and then take a closer look
category_names.sort()
category_names

array(['Bank Interests', 'Bills & Subscriptions', 'Business Expenses',
       'CDAC Contribution', 'CPF Contribution', 'Credit Card Rebates',
       'Diversified Portfolio', 'Dividends', 'Entertainment',
       'Family Emergency Fund', 'Gifts and Ocassions', 'Groceries',
       'Hawker Food', 'Health Sinking Fund', 'Household Allowance',
       'Other Income', 'Personal Care', 'Personal Development',
       'Personal Insurance', 'Restaurant & Fast Food', 'SRS Contribution',
       'Salary', 'Shopping', 'Transfers', 'Transportation', 'Travel',
       'Travel & Vacation', 'Warchest'], dtype=object)

###Removing Columns That Are No Longer Needed
Once all the data cleaning has been completed, both temporary and unnecessary columns are dropped as they are no longer needed.

In [17]:
# remove all tmp columns
cleaned_finance_data = cleaned_finance_data.drop(columns=['Tmp Date', 'Tmp Amount'])

# remove all Application Date and Amount columns as they are no longer needed
cleaned_finance_data = cleaned_finance_data.drop(columns=['Application Date', 'Amount'])

# rename Date Cleaned and Amount Cleaned to Date and Amount to make the columns easier to understands.
cleaned_finance_data = cleaned_finance_data.rename(columns={'Date Cleaned': 'Date', 'Amount Cleaned': 'Amount', 'Category name': 'Category'})

cleaned_finance_data.head()

           Category name              Note Date  Amount
0  Bills & Subscriptions      Property Tax  NaT   11.73
1  Bills & Subscriptions         Utilities  NaT   38.63
2          Entertainment     Entertainment  NaT   50.00
3              Groceries         Groceries  NaT   61.86
4    Gifts and Ocassions  Chinese New Year  NaT   72.00